#about-us {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: serif;
    position: relative;
}

#about-us h1 {
    margin-bottom: 50px;
    text-align: center;
    width: 70%;
}

#about-us span {
    color: rgba(255, 77, 0, 0.6);
}

.about-us {
    display: flex;
    width: 90%;
}

.bloc-aboutUs {
    padding: 50px;
    width: 50%;
}

#about-us img {
    width: 100%;
}

.add-aboutUs-btn{
    color: #0d6efd;
}

.add-aboutUs-btn:hover {
    cursor: pointer;
    color: #ff5722;
    font-size: 19px;
}


/*Add about us style*/

#add-about-us {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}
