extends conteiner
block content
    div
        |Вітаємо!
        | Ваш email #{email} ще не пройшов перевірку.
        |Клікніть на кнопку нижче, щоб підтвердити його на нашому сайті.
        div
            |#{confirmCode}

        | Тепер цей email буде основним для входу в профіль та отримання корисних сповіщень.
        | Вдалого дня та гарного настрою
        | Команда Soft.Life.Lviv
