.meetings {
    padding: 20px;
}

.meetings h2 {
    margin: 20px 5% 50px;
    font-family: fangsong;
    font-size: 40px;
}

.one-meeting {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 7px 0 black;
}

.one-meeting h5 {
    background: #9aeba645;
    padding: 20px;
}
